<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado liebre</title>
    <link rel="stylesheet" href="/css/styles.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
</head>

<body>
    <header>
        <div class="header-superior">
            <img class="logo" src="/img/logo-mercado-liebre.svg" alt="logo">
            <div class="buscador">
                <div class="input"> </i>Buscar...</div>
                <div class="icono-buscador"> <i class="fa fa-search"></i> </div>
            </div>
            <p><i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito</p>
        </div>
        <nav>
            <ul>
                <li>
                    <a href="#">Ofertas</a>
                </li>
                <li>
                    <a href="#">Tiendas oficiales</a>
                </li>
                <li>
                    <a href="#">Vender</a>
                </li>
                <li>
                    <a href="#">Ayuda</a>
                </li>

            </ul>

            <ul>
                <li>
                    <a href="/register">Creá tu cuenta <i class="far fa-id-card"></i></a>
                </li>
                <li>
                    <a href="/login">Ingresá <i class="fas fa-sign-in-alt"></i></a>
                </li>
                <li>
                    <a href="#">Mis compras <i class="fas fa-shopping-basket"></i></a>
                </li>

            </ul>
        </nav>
        <div class="burger-menu">
            <i class="fas fa-bars"></i>
        </div>
    </header>

    <main>
        <form action="/" method="get">

            <div>
                <label for="Nombre y apellido">Nombre y Apellido</label>
                <input type="text" name="Nombre" id="Nombre y apellido" placeholder="Escriba nombre y apellido">
            </div>
            <div>
                <label for="Nombre de usuario">Nombre de usuario</label>
                <input type="text" name="Nombre usuario" id="Nombre de usuario" placeholder="Escriba nombre de usuario">
            </div>
            <div>
                <label for="Fecha">Fecha de nacimiento</label>
                <input type="date" name="Fecha nacimiento" id="Fecha">
            </div>
            <div>
                <label for="Domicilio">Domicilio</label>
                <input type="text" name="Domicilio" id="Domicilio" placeholder="calle falsa 123">
            </div>
            <div>
                <h4>Perfil:</h4>
                <label for="Perfil">Comprador</label>
                <input type="radio" name="Perfil" id="Perfil" value="Comprador">
                <label for="Perfil">Vendedor</label>
                <input type="radio" name="Perfil" id="Perfil" value="Vendedor">
            </div>
            <div>
                <h4>Categoría de interes:</h4>
                <label for="Electro">Electro</label>
                <input type="checkbox" name="interes" id="Electro" value="Electro">
                <label for="Moda">Moda</label>
                <input type="checkbox" name="interes" id="Moda" value="Moda">
                <label for="Hogar">Hogar</label>
                <input type="checkbox" name="interes" id="Hogar" value="Hogar">
                <label for="Jugueteria">Jugueteria</label>
                <input type="checkbox" name="interes" id="Jugueteria" value="Jugueteria">
                <label for="Vida sana">Vida sana</label>
                <input type="checkbox" name="interes" id="Vida sana" value="Vida sana">
            </div>
            <div>
                <label for="foto">Foto de usuario</label>
                <input type="file" name="foto" id="foto">
            </div>
            <div>
                <label for="contrasenia">Contraseña:</label>
                <input type="password" name="contrasenia" id="contrasenia">
            </div>
            <div>
                <label for="confirmarContrasenia">Confirmar contraseña:</label>
                <input type="password" name="confirmarContrasenia" id="confirmarContrasenia">
            </div>
            <div>
                <button type="submit">Enviar</button>
            </div>
            <div>
                <button type="reset">Borrar</button>
            </div>



        </form>

    </main>
    <footer>
        <section>
            <div class="info-footer">
                <i class="fas fa-credit-card"></i>
                <h3>Pagá con tarjeta o en efectivo</h3>
                <p>Con MercadoLiebreCash tenés cuotas sin interés con tarjeta
                    o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
                </div>
        </section>
        <section>
            <div class="info-footer">
                <i class="fas fa-gift"></i>
                <h3>Envio gratis desde los $2500</h3>
                <p>Solo por estar registrado en MercadoLiebre tenés envios gratis en miles de productos.
                    Es un beneficio de Mercado Puntos.
                </p>
            </div>
        </section>
        <section>
            <div class="info-footer">
                <i class="fas fa-user-shield"></i>
                <h3>Seguridad de principio a fin</h3>
                <p>¿No te gusta? ¡Devolveló! En MercadoLiebre no hay nada que no puedas
                    hacer porque estás siempre protegid@.
                </p>
                <p>Copyright @ 1999-2000 MercadoLiebre S.R.L.</p>
            </div>
        </section>
    
    </footer>
</body>

</html>